* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header-section {
  padding: 2rem 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.logo {
  width: 30%;
  position: relative;
}

.logo > img {
  width: 80px;
  position: absolute;
}

.pages-link {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages-link > nav {
  width: 100%;
}

.nav-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.nav-list li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  padding: 1rem;
  border-radius: 5px;
  transition: all 0.2s;
}

.nav-list li a:hover {
  background-color: gray;
}

/*====================================================
 style the humbarger menu 
 ======================================================*/

div.menu-icon i {
  font-size: 30px;
}
div.menu-icon {
  display: none;
  cursor: pointer;
}
.hambarger-menu {
  width: 350px;
  height: 100vh;
  background-color: bisque;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  display: none;
}

.test {
  display: none;
}

.nav-list-menu {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style-type: none;
}

.nav-list-menu li a {
  color: black;
  text-decoration: none;
  font-size: 25px;
  padding: 1rem;
  border-radius: 5px;
  transition: all 0.2s;
}

.nav-list-menu li a:hover {
  background-color: gray;
}

.close-icon {
  position: absolute;
  top: 20px;
  left: 20px;
}

.close-icon i {
  font-size: 35px;
  cursor: pointer;
  transition: all 0.2s;
}

.close-icon i:hover {
  transform: rotate(-90deg);
}

/* ===================== */
main {
  height: 1000px;
}
